<!DOCTYPE html>

<html lang="fr">
{% include 'templates/header.twig' %}

<body>
    {% include 'templates/nav.twig' %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ title|raw }}</h1>
            <p class="lead">{{ description }}</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/Little-sumo-labs/relativeTimerExtentionForTwig" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2>Heading</h2>
                <p>
                    {{ date|relativetimer }} <br />
                    {{ timer|relativetimer }} <br />
                    {{ timer2|relativetimer }}
                </p>
                <p><a class="btn btn-secondary" href="https://github.com/Little-sumo-labs/relativeTimerExtentionForTwig" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Company 2017</p>
        </footer>
    </div> <!-- /container -->
</body>
</html>